
/* STYLING HEADER SECTION */

.hamburger {
    position: fixed;
    padding-left: 10px;
    margin-top: 10px;
    color: #818181;
    cursor: pointer;
    z-index: 1;
    font-size: 2em;
}
.hamburger:hover {
  color: #d35400;
  transition: all 0.3s ease-in-out;
}
/* SYLING CART */
.cart {
    font-size: 12px;
    float: right;
    padding: 20px;
    overflow: hidden;

}
.fa-shopping-bag {
  color: #566573;
  cursor: pointer;

}
.fa-plus-square {
  margin-right: 10px;
  color: #566573;
  cursor: pointer;
}
.fa-plus-square:hover {
  color: rgb(0, 98, 209);
  transition: all 0.3s ease-in-out;
  font-size: 12px;
}
.fa-shopping-bag:hover {
  color: rgb(0, 98, 209);
  transition: all 0.3s ease-in-out;
  font-size: 12px;
}
/* END STYLING CART */

/* STYLING SIDE BAR */
.side-bar {
    height: 100vh;
    width: 0px;
    position: fixed;
    color: rgb(255, 255, 250);
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.9);
    opacity: 0.9;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
}

.closebtn {
    cursor: pointer;
    color: white;
    position: absolute;
    margin-top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition: all 0.3s ease-in-out;
}

.closebtn:hover {
    opacity: 0.2;
    font-size: 2em;
    color: rgb(0, 98, 209);
    transition: all 0.3s ease-in-out;
}

.logo {
    margin-top: 70px;
    color: white;
    padding: 20px 20px;
    text-emphasis: center;
    font-size: 20px;
    font-weight: 200;
    display: inline-block;
    border: 2px solid white;
    margin-left: 10px;
    box-sizing: border-box;
}

.logo:hover {
    background-color: rgb(22, 32, 42);
    transition: all 0.3s ease-in-out;
}

.logo_title {
    text-align: center;
    font-weight: 200;
    color: rgb(255, 255, 250);
}

.nav_selection {
    margin: 20px 0px;
    margin-left: 10px;
    width: 200px;
    display: block;
}

.nav_items {
    list-style: none;
    padding: 12px 0px;
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(255, 255, 250);
    border-bottom: 1px solid #818181;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.nav_items:hover {
    transition: all 0.3s ease-in-out;
    color: rgb(255, 255, 250);
}

select {
    width: 200px;
    color: #818181;
    background-color: rgb(61, 61, 61);
}

.button {
    color: rgb(255, 255, 250);
}

.button:hover {
    color: #818181;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* END SIDE BAR */

/* STYLING TOP BAR */
.top-bar {
  height: 0%;
  width: 100%;
  position: fixed;
  color: #818181;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.9);
  opacity: 0.9;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.add_button {
  position: absolute;
  text-align: center;
  font-weight: 100;
  box-sizing: border-box;
}
.add_button:hover {
  color: #eaeded;
  transition: all 0.3s ease-in-out;
}
.fa-window-close {
  padding: 50px;
  font-size: 20px;
}
.fa-window-close:hover {
  color: #eaeded;
  transition: all 0.3s ease-in-out;
}
.top-bar h6 {
  text-align: center;
  color: #F4F6F6;
}
/* END STYLING TOP BAR */
@media (max-width: 450px) {
    .logo {
        margin-top: 35px;
        color: white;
        padding: 10px 10px;
        text-emphasis: center;
        font-size: 20px;
        font-weight: 200;
        display: inline-block;
        border: 2px solid white;
        margin-left: 20px;
        box-sizing: border-box;
    }
    .closebtn {
        cursor: pointer;
        color: white;
        position: absolute;
        margin-top: 0px;
        right: 25px;
        font-size: 18px;
        margin-left: 50px;
        transition: all 0.3s ease-in-out;
    }
    .nav_selection {
        margin: 10px 0px;
        margin-left: 10px;
        width: 200px;
        display: block;
    }

    .nav_items {
        list-style: none;
        padding: 12px 0px;
        box-sizing: border-box;
        font-size: 10px;
        color: rgb(255, 255, 250);
        border-bottom: 1px solid #818181;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
}
