/* STYLING HEADER SECTION */
#main {
  /* position: relative; */
  transition: margin-left .5s;
  /* width: 100%;
  height: 100vh; */
}
.hamburger {
    position: fixed;
    box-sizing: border-box;
}
.fa-bars {
  padding-left: 10px;
  margin-top: 10px;
  color: #818181;
  cursor: pointer;
  z-index: 1;
  font-size: 2em;
}
.fas:hover {
  color: #d35400;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
/* SYLING CART */
.cart {
    font-size: 12px;
    float: right;
    padding: 20px;
    overflow: hidden;

}
.fa-shopping-bag {
  color: #454545;
  cursor: pointer;

}
.fa-plus-square {
  margin-right: 10px;
  color: #454545;
  cursor: pointer;
}
.fa-plus-square:hover {
  color: #818181;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
}
.fa-shopping-bag:hover {
  color: #818181;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
}
/* END STYLING CART */

/* STYLING SIDE BAR */
.side-bar {
    height: 100vh;
    width: 0px;
    position: fixed;
    color: #818181;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17);
    opacity: 1;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
}

.closebtn {
    cursor: pointer;
    color: white;
    position: absolute;
    margin-top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    transition: all 0.3s ease-in-out;
}

.closebtn:hover {
    opacity: 0.2;
    font-size: 2em;
    color: #2ECC71;
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
}

.logo {
    margin-top: 70px;
    color: white;
    padding: 20px 20px;
    text-emphasis: center;
    font-size: 20px;
    font-weight: 200;
    display: inline-block;
    border: 2px solid white;
    margin-left: 10px;
    box-sizing: border-box;
}

.logo:hover {
    background-color: rgb(22, 32, 42);
    transition: all 0.3s ease-in-out;
}

.logo_title {
    text-align: center;
    font-weight: 200;
    color: #2ECC71;
}

.nav_selection {
    margin: 20px 0px;
    margin-left: 10px;
    width: 200px;
    display: block;
}

.nav_items {
    list-style: none;
    padding: 12px 0px;
    box-sizing: border-box;
    font-size: 14px;
    color: #707B7C;
    border-bottom: 1px solid #818181;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.nav_items:hover {
    transition: all 0.3s ease-in-out;
    color: rgb(255, 255, 250);
}

select {
    width: 200px;
    color: #818181;
    background-color: rgb(61, 61, 61);
}

.button {
  color: #818181;
}

.button:hover {
    color: rgb(255, 255, 250);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* END SIDE BAR */

/* STYLING TOP BAR */
.top-bar {
  height: 0%;
  width: 100%;
  position: fixed;
  color: #818181;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 1);
  opacity: 0.9;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.fa-window-close {
  color: #2ECC71;
}
.fa-plus {
  color: #2ECC71;
}
.top-bar-btn {
  padding-right: 20px;
  padding: 20px;
}
.top-bar h6 {
  text-align: center;
  color: #F4F6F6;
}

/* END STYLING TOP BAR */

/* STYLING MAIN SECTION */
.main {
  transition: margin-left .5s;
}
.shop-card {
  margin-top: 1em;
  margin: 1em;
  /* position: absolute; */
  background-attachment: fixed;
  background: #121010;
  transform: translate(-2%);
  width: 450px;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcf40;
  border: 2px solid #ffcf40;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  z-index: 2;
}
.shop-card .slider {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid #ffcf40;
    border-top: 2px solid #ffcf40;
    outline: none !important;
}

.shop-card .slider img {
    margin: -95px 0 -60px;
    width: 100%;
}
.shop-card .title {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 5px;
  color: #ffcf40;
}
.shop-card .description {
  font-size: 17px;
  opacity: .8;
  margin-bottom: 3px;
}
.controls {
  padding: 20px 20px 5px;
}
.shop-card .price {
    float: left;
    color: #ffcf40;
    font-size: 22px;
    font-weight: 900;
    padding-top: 2px;
    transition: color .3s ease-in-out;
    margin-top: 4px;
}
.controls .btn {
  background-color: #2ECC71;
  position: relative;
  display: inline-block;
  z-index: 1;
  float: right;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffcf40;
  padding: 12px 18px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  line-height: .95;
  border-radius: 20px;
  overflow: hidden;
}
.controls .btn:hover {
  color: #D0D3D4;
  transition: color .3s ease-in-out;

}
/* END STYLING MAIN SECTION */
@media (max-width: 450px) {
    .logo {
        margin-top: 35px;
        color: white;
        padding: 10px 10px;
        text-emphasis: center;
        font-size: 20px;
        font-weight: 200;
        display: inline-block;
        border: 2px solid white;
        margin-left: 20px;
        box-sizing: border-box;
    }
    .closebtn {
        cursor: pointer;
        color: white;
        position: absolute;
        margin-top: 0px;
        right: 25px;
        font-size: 18px;
        margin-left: 50px;
        transition: all 0.3s ease-in-out;
    }
    .nav_selection {
        margin: 10px 0px;
        margin-left: 10px;
        width: 200px;
        display: block;
    }

    .nav_items {
        list-style: none;
        padding: 12px 0px;
        box-sizing: border-box;
        font-size: 10px;
        color: rgb(255, 255, 250);
        border-bottom: 1px solid #818181;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
}
